[2017-06-07 12:03] #271 closed

[2017-06-07 21:18] deathgaze opened #313 "Image Won't Load"
MERN starter looks like it includes an image on the main page. However, this image refuses to load. It looks like the page is trying to load it from, in my case, `http://0.0.0.0:8000/bbaeb5f32b7042f0def39648a1d111b9.png`. The image that appears not to load is `header-bk.png`.  If I visit `http://localhost:8000/bbaeb5f32b7042f0def39648a1d111b9.png` in my browser, it appears to work correctly, so fo

[2017-06-09 01:36] andrewsav-datacom commented on #268
Same error even with Python installed:

[code]

Of course there *is* `C:\Python36\python.EXE` and it's completely functional.

[2017-06-09 21:56] gameboyzone opened #314 "MERN Starter Blog Web App not working in IE 11"
Hello,

When I did a 'npm install' it worked fine but I did see few warnings on webpack v2.1.0-beta.8 in the command console in Windows 7. The MERN Starter Blog Web App works fine in Chrome  and Firefox, but it fails to works in IE 11 with 'Unknown browser' error in console. See console output below -

![capture](https://user-images.githubusercontent.com/3680631/26995818-8967069e-4d34-11e7-8a08-a5

[2017-06-12 15:13] deathgaze commented on #285
@adriaanbalt Download the `mern-cli` global NPM package and run `merng` at the command line while your terminal is parked in the project folder to see available commands for the project.

[2017-06-12 15:56] deathgaze commented on #313
I found that by changing the value of the `publicPath` variable in `webpack.config.dev.js` is enough to get rid of this issue. Is this intended?

[2017-06-13 03:40] chris-fa opened #315 "[Question] calling `new Express()`"
Hey guys, nice stack you got here. I'm very interested in this one line of code, on your `server/server.js` file:

[code]

I've always seen express called without the `new` keyword so I'm wondering why do you guys call it that way, and whether it can be done by default or you did something behind scene so you can call it with new keyword, or any other story behind it.

It's just a silly question I

[2017-06-14 12:42] u0078867 commented on #153
I played with this, very cool: https://github.com/glenjamin/ultimate-hot-reloading-example

[2017-06-14 23:11] artemverbo commented on #193
+1 still happening, tried loading @value variables from a different file. It did work when I've just added that without restarting the dev server, but a fresh restart is crashing.

[2017-06-15 03:56] sayayinR commented on #309
I have exactly the same issue, MongoDB seems to be running fine. Any suggestions?

[2017-06-15 12:22] DaanVermunt commented on #309
@sayayinR Is mongo running on the correct port and with the correct permission settings?

[2017-06-23 15:23] jose920405 commented on #18
complementing `ghoshnirmalya's` answer

point 6:

`sudo chown youruser /data/db`

[2017-06-24 06:31] jhogins opened #317 "Cannot find module 'prop-types' at startup"
Ran for the first time and got "Error: Cannot find module 'prop-types'"

[2017-06-29 09:34] Nicholson85 commented on #317
I don't believe 'prop-types' is an included package for React v 15.5.3 > and must now be installed separately.

[2017-07-13 13:41] rajkapoordev commented on #21
@somus, Any update on support for GraphQL?

[2017-07-18 08:57] zoeesilcock commented on #275
I was also having problems importing .css files from node_modules. What worked for me was using `require` instead of `import` or `@import`.

Example from my client/App.js:
[code]

[2017-07-18 09:02] u0078867 commented on #275
For bootstrap, I followed this and it worked like a charm:

https://medium.com/@vladbezden/webpack-configuration-for-using-bootstrap-in-react-a6ef2dfa1d95

[2017-07-18 19:02] zoeesilcock commented on #275
Thanks @u0078867, that's even better than what I figured out. I'm back to using import with the paths mentioned in that article now.

[2017-07-22 20:11] coolsebz commented on #290
if you're still facing this problem, you can upgrade to the latest node and just remove the flags from the test command in `package.json`, that got it working for me.

[2017-07-23 17:20] adhikariraju opened #319 "Error while doing npm install."
[code]

Even if i install python and set environment variable same error is shown

[2017-07-24 15:05] flickz commented on #319
Node module 'node-gyp.js' requires python to work. Install python and add to path. Now try npm install.

[2017-07-24 15:21] flickz commented on #319
What python version do you have installed?
"Can't find Python executable "python", you can set the PYTHON env variable" - Try to reinstall  python and add to path again.

[2017-07-25 09:44] jiji262 opened #320 "docker up issue"
anyone know this issue?

[code]

[2017-07-25 16:16] infacq commented on #317
I'm planning to use this starter package but saw the repo has long time no update while upgrading to new React might take sometime especially when dealing with `createClass`

[2017-07-25 16:17] infacq commented on #297
Good luck for new comer

[2017-07-26 11:48] Nicholson85 commented on #297
+1

If this projects gets too dated it could discourage people from using this stack.

[2017-07-26 13:49] JeffWScott opened #321 "Error after fresh isntall"
I have the worst luck with these pre-made packages!  I'm just trying to install this so I get get some tutorials run.  It's such an up hill battle when you have no idea about the different pieces of software that make this stuff work.  The little node stuff I have done so far is just a straight node server with maybe some extra stuff.  Nothing this involved.  I thought that the purpose of these np

[2017-08-01 16:19] Spisaczek commented on #297
Anyone did it on his own? Can you give some advice how to migrate mern project to react-router v4?

[2017-08-03 09:51] AaronKow commented on #320
Hi there.
I encountered the same thing when cloning this project.
I solved it by adding `- /usr/src/app/node_modules` just after the line `- .:/usr/src/app/` in file `docker-compose-development.yml`.
See if this help.

[2017-08-04 02:04] therladbsgh commented on #297
Well, to preface I don't have much experience with using React Router. But looking at the v4 docs, I managed to make a basic working version:

/server/server.js

    import routes from '../client/routes';

    ...

    // Server Side Rendering based on routes matched by React-router.
    const reduxProvider = React.createFactory(Provider);
    app.use((req, res, next) => {
      const context = {}

[2017-08-08 03:09] MincePie commented on #309
Is the problem that mongodb is running on a different port to local host? I don't know how to configure them to run together? I'm stuck because I can't use terminal commands to start mongodb separately from yarn start - I can't have control of the terminal after one of these commands runs. If I run yarn start - I get an error that says:

Does anyone know how to resolve this problem?

[2017-08-08 03:12] MincePie commented on #270
Did you figure this out. I'm stuck in the same position

[2017-08-08 09:45] DaanVermunt commented on #309
@MincePie Have you tried using npm instead of yarn. Also see the installation guide on https://docs.mongodb.com/v3.0/installation/ for installing mongoDB. Beacause it seems like either mongo is running with the wrong permissions or not even running at all

[2017-08-08 13:14] kidchenko commented on #321
The same here, the `npm install` until runs, but I think that the dependencies are obsolete and the hot-module-reload is not working.

[2017-08-08 22:42] MincePie opened #322 "Errors in getting started - configuration changes"
I have just tried to get started with this starter kit. I get 2 warnings and 2 errors - both seem to be fundamental. The warnings appear to be from changes in react since this starter kit was written. I'm trying to make sense of the errors.

Has anyone encountered and resolved these?

[2017-08-09 00:55] MincePie opened #323 "Syntax"
Is this correct syntax for creating classes in react?

`export class PostCreateWidget extends Component {
`

I'm trying to reconcile this syntax with the advice in this document. https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.createclass

I can't make sense of how this starter app is conforming to the react documentation.

[2017-08-09 06:43] pabhale2 commented on #195
@rodeyseijkens,

This error is fixed in node-gyp v3.4.0, you are still using node-gyp v3.3.1

npm uninstall -g node-gyp
npm install -g node-gyp

This will install the lastest version

It works for me. Thanks

[2017-08-11 08:01] kamish24six opened #324 "Passport Facebook Auth"
I created a login system for the site with Facebook via Passport. I am more jwt and after the friendship keeps it at local storage.

I'm stuck in the testing phase whether or not the user is logged in while loading the app for the first time. If it comes from the server, the local storage. is not defined.

Another option is to save the token in req.user or req.session, but I can not do dispatch to

[2017-08-11 22:55] jcap-pro commented on #320
Thanks @AaronKow , this solved the issue for me...

[2017-08-13 06:50] shmulikkaminker opened #325 "Question: My example starter render in the first time twice"
Maybe someone can help me: I start playing with the mern starter project. in the componentWillMount function App.js file I added a function that checks if the user is login or not.

When i run the project on heroku instance i notice that the page renders twice in the first load.
The page renders and then disappears for a second and reappears.

What can be the problem? Here is the link for the prod

[2017-08-18 15:23] tharun06 commented on #195
C:\..\..\.>npm install oracledb

C:\..\..\.node_modules\oracledb>if not defined npm_config_node_gyp (node "C:\Users\..\AppData\Roaming\npm\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )
Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
TRACKER : error TRK0002: Failed to execute command: ""C:\Progra

[2017-08-18 15:24] tharun06 opened #326 "oracledb installation error"
C:.....>npm install oracledb

oracledb@1.13.1 install C:\project\dqf\src\node_modules\oracledb
node-gyp rebuild
C:.....node_modules\oracledb>if not defined npm_config_node_gyp (node "C:\Users..\AppData\Roaming\npm\node_modules\npm\bin\node-gyp-bin\....\node_modules\node-gyp\bin\node-gyp.js" rebuild )
Building the projects in this solution one at a time. To enable parallel build, please add the "/m

[2017-08-18 15:24] tharun06 opened #327 "Oracledb isntallation errors"
C:.....>npm install oracledb

oracledb@1.13.1 install C:\project\dqf\src\node_modules\oracledb
node-gyp rebuild
C:.....node_modules\oracledb>if not defined npm_config_node_gyp (node "C:\Users..\AppData\Roaming\npm\node_modules\npm\bin\node-gyp-bin\....\node_modules\node-gyp\bin\node-gyp.js" rebuild )
Building the projects in this solution one at a time. To enable parallel build, please add the "/m

[2017-08-18 16:22] #326 closed

[2017-08-20 06:44] shmulikkaminker opened #328 "Dispatch before App renders"
I try to set the user default language by a cookie in the server. What is the best way to get the cookie on each request from the server? may be set the state in server.js with the current lang?

[2017-09-01 09:22] codeuniquely commented on #170
have the same issue when running on Mac (never been near a windows environment) with,

"webpack": "3.5.5",

tried also using lastest version of loaders too .....
"babel-plugin-webpack-loaders": "^0.9.0",

[2017-09-01 12:00] Jakku7 commented on #313
What did you change the `publicPath` variable to?

[2017-09-02 01:10] thrash4life commented on #313
@Jakku7 - Change the public path to the domain (even if it's localhost) where you are hosting your app. Don't forget to use the correct protocol http/https and use the correct port.

[2017-09-05 07:27] Nat-raj commented on #326
Hi Tharun, are you solve the issue. if you solve it means, plz commented that code  below

[2017-09-07 07:46] Trinyoung commented on #195
there is no node-gyp folder or config in  C:\Program Files\nodejs\node_modules\npm\ .I find the node-gyp folder in the  C:\Program Files\nodejs\node_modules\npm\ . where is the config?

[2017-09-07 07:52] Trinyoung commented on #195
there is no node-gyp folder and config in  C:\Program Files\nodejs\node_modules\npm，the node -gyp folder is in C:\Program Files\nodejs\node_modules\npm\node_modules;the last question ,where is the config,the config has another name? configure  in C:\Program Files\nodejs\node_modules\npm or config-chain in C:\Program Files\nodejs\node_modules\npm\node_modules

[2017-09-07 08:04] Trinyoung commented on #195
I have the same question but your method doesn't work

[2017-09-07 20:36] jvitela commented on #323
Check here:
https://facebook.github.io/react/docs/components-and-props.html#functional-and-class-components

[2017-09-16 14:52] TeodorKolev opened #329 "Unable to debug"
I am unable to debug app I get:
[code]

[2017-09-21 11:33] Aroniez commented on #305
+1

[2017-09-25 12:37] InamTaj commented on #276
@quocble I tried your solution but HMR is still broken. Were you able to fix that?

[2017-09-27 23:54] sbmadhav opened #330 "Upgrade to React 16"
Since React 16 moved to MIT license, would like to try this out, when you move to React 16.

[2017-09-28 09:11] TeodorKolev opened #331 "Application needs rebuild"
When wrong code is saved and app crash, edited code needs rebuild, which takes lots of time... This is awful

[2017-10-03 06:40] kamish24six commented on #330
+1

[2017-10-06 16:10] u0078867 opened #332 "Hot reload fails after fixing syntax error"
This happens even with the proposed patch of static requires in the routes file.
It is claimed that webpack 2.2.0+ fixes the bug, but config files need some major editing. A quick and dirty workaround is to include the plugin ``webpack.NoErrorsPlugin``.

[2017-10-07 17:53] chaudharykiran opened #333 "Does not work when Upgraded to React v16 and React-router v4."

[2017-10-15 17:07] Ballpin commented on #333
I have been working on a new mern stack insipred from mern-starter and react-universally. The stable version is still on 15 though. But i have a branch for react 16 with react router 4, the only thing that is not working is the tests because react-addons-test-utils needs to be changed.

The url for it is https://github.com/Ballpin/mern-starter2

[2017-10-15 17:15] Ballpin commented on #297
I have been working on a new mern stack based on this one and react-universally. After i ran into same issue as you guys.

With react 15  and react-router 4 its working well. But with react 16 i ran into some issues with tests because react-addons-test-utils has been decapitated. You can try that one.

Link to the repo https://github.com/Ballpin/mern-starter2

[2017-10-19 06:29] shmulikkaminker opened #335 "User navigator local"
I'm trying to build a web application with support in 2 languages, with react-Intl .

The problem is that when I initial load from the server I do not have the user's browser language so I can not determine which language to display. I want to check it out in IntlReducerstate but I do not have access to Navigator of course because it's a load from the server.

What do you suggest?

[2017-10-31 21:43] PaulRBerg commented on #330
+1

[2017-11-03 09:37] talentedandrew opened #336 "Using Ascyn/Await in react action creators"
Using Async / Await, I'm getting the following error.

    at eval (eval at <anonymous> (app.js:130), <anonymous>:152:48)
    at joinSession (eval at <anonymous> (app.js:130), <anonymous>:190:4)
    at DashboardPage.__goToSession__REACT_HOT_LOADER__ (eval at <anonymous> (app.js:898), <anonymous>:95:56)
    at DashboardPage.__goToSession__REACT_HOT_LOADER__ (eval at <anonymous> (app.js:3557), <anon

[2017-11-03 22:23] Mihirmathur commented on #209
I'm having the same issue. How did you guys resolve it?

[2017-11-08 03:33] isaacjohnsononline commented on #330
+1

[2017-11-08 08:57] danghoa1 commented on #303
Same problem for me.  Did you have a solution?

[2017-11-09 01:08] johnpapa commented on #175
I have no volumes and I am seeing this behavior. Removed the images, pruned, verified the npm cache, started over ... same error.

[2017-11-20 10:52] daminufe commented on #94
Same problem here using the mern-cli

[code]

[2017-11-23 22:21] SherlockStd commented on #330
+1

[2017-11-24 21:06] TeodorKolev opened #340 "Upload image"
How to upload image to mongo using MERN? Is there any type of example here?

[2017-12-03 07:26] theUtherSide commented on #308
I'm seeing this too with node 8.9.1.  Also tried node 7.7.4.  Both with npm 5.5.1

[2017-12-04 12:25] panvourtsis commented on #279
anyone fixed this?

[2017-12-04 16:28] Fallenstedt commented on #279
@panvourtsis  literally read this https://github.com/Hashnode/mern-starter/issues/279#issuecomment-287099746

[2017-12-04 18:58] panvourtsis commented on #279
@Fallenstedt yes i know what it means. The thing is that when you got more than one test in place for the models this happens in whatever port you define. It just starting the next test without closing the usage of the port. Tried 8080, 4350, 6565 etc etc always the same

[2017-12-12 00:12] TeodorKolev commented on #340
Dead repo

[2017-12-20 10:13] InamTaj commented on #330
It seems this boilerplate has been abandoned.

[2018-01-03 18:07] nreoch25 commented on #297
I decided to create a very simple and understandable updated version of this stack. Tech used is React 16, React-router-4, Webpack3, Redux, Redux-saga, code Splitting with Loadable-components, HMR, SSR.

I've kept everything very simple so people new to any of these technologies shouldn't have a problem understanding what's going on.

Please let me know in the issues at the below repo if you're ha

[2018-01-08 06:46] liuzhiyuan1993 commented on #313
edit your webpack.config.dev.js:

[code]

[2018-01-10 17:11] mmind-hub commented on #330
+1

[2018-01-13 05:20] skykoradji opened #342 "it seems 'npm install' on node 8.9.1 fail to work"
npm ERR! enoent ENOENT: no such file or directory, open '/home/vagrant/mern-starter/node_modules/nyc/node_modules/yargs/node_modules/yargs-parser/package.json.1225444790'

nyc package is too old?

[2018-01-17 09:03] gal1419 commented on #330
+1

[2018-01-18 11:53] Sammy0807 commented on #18
After the mern blog appears the first time,  once I refresh the page, I get a typeError: cannot read property 'map' of undefined
On client/modules/post/components/postlist.js 10:9

[2018-01-22 11:41] abinavseelan opened #344 "MERN v3.0.0 🚀"
## Hey 👋

It's been a little over a year since MERN v2 was released. A lot has changed in the React landscape and it's about time we get back to this project to bring it up to speed with 2018. 😄

Progress on this project has been rather slow from our end due us focusing our efforts on development of Hashnode. While retrospecting our open-source contributions, the need for a new version of MERN cam

[2018-01-22 16:09] mattlubner commented on #344
Can we list "decrease start-up time while in development mode" as an official objective? The last point ("Have a simpler workflow so that you can start your project(s) with much more ease!") is a bit vague, and I'm not sure of what that means. It is currently very painful to do server side development in Mern (due to slow restarts), but I would like to see that change!

It would also be lovely to

[2018-01-23 05:42] abinavseelan commented on #344
Hey @mattlubner!

The point "Have a simpler workflow so that you can start your project(s) with much more ease!" is more of an umbrella term for things the community needs or might need to help in their development workflow. Once we've aggregated a list of things, we'll update the issue to highlight the specifics that you'd see in v3.0. This includes reducing server startup time, of course! 😄

Tha

[2018-01-23 07:21] alexandru-tomescu commented on #344
Hi. You could add also a graphql implemententions, /gql/endpoints, this would be great !

[2018-01-24 08:56] chrisLovesCode commented on #344
ready to use graphql crud with apollo would be realy nice

[2018-01-24 16:21] carloscuatin commented on #344
graphql is a example ;)

[2018-01-28 19:34] marvinjude commented on #309
I am currently facing same issue, the empty boilerplate won't run with "npm
start" or "npm run start" while Mongo db is running on default port

[2018-01-28 21:22] DaanVermunt commented on #309
@marvinjude the express server expects it to run on port 27017, so is that set as your default mongo port? And are you sure that the user starting the application is the same user as the user running mongo? And are you running >= npm3 which is indicated as required for the dependencies to work properly.

[2018-01-29 07:36] lordknight1904 commented on #344
I am sorry if this might be a little bit out of topic.
But why MERN stack build time is much higher than MEAN (in server post-modified rebuild). This is quite time consuming.

[2018-01-29 11:39] abinavseelan commented on #344
@lordknight1904 We're actually looking into this and trying to revamp the build pipeline with v3.0. 🙂

@carloscuatin @chrisLovesCode @alexandru-tomescu

GraphQL sounds pretty exciting! We'll evaluate this and see how we can integrate GraphQL into MERN, without bloating the user experience for users who don't want it.

We have a couple of ideas on how we can manage this, and we're currently floatin

[2018-01-30 08:59] carloscuatin commented on #344
@abinavseelan option flag with the `mern-cli` 👍

how can we help in the new version of mern ?

[2018-01-31 14:00] kamalkrishna3000 commented on #344
When can we expect new version of MERN ?

[2018-02-01 11:01] lordknight1904 commented on #344
Maybe add a default landing page.

[2018-02-05 04:07] lucaskuan commented on #344
Can we start using the 3.0 branch? Cause we have a project that needs to kickstart now and may just use the latest version of MERN.

[2018-02-06 17:21] abinavseelan commented on #344
@lucaskuan

Hey! 👋

I'm sorry. But it's not yet at a stable state to use I'm afraid. 😞 We are doing our best to see this version out as soon as a possible!

[2018-02-06 19:18] v29neil commented on #344
Would love to have swagger/jsdoc support

[2018-02-07 02:28] lucaskuan commented on #344
@abinavseelan I see, looking forward to have it ready. Will there be a huge migration trouble from 2.0 to 3.0?
Any tasks that we could contribute to make it happen faster?

[2018-02-13 15:09] felipe-pereira commented on #308
Tests failing here too: node.exe bad option: --harmony-proxies
node v8.9.4
npm  v5.6.0

[2018-02-14 10:54] gmchaturvedi1 commented on #342
+1

[2018-02-15 19:07] TeodorKolev commented on #344
How can I store image using this repo?

[2018-02-17 13:38] TeodorKolev commented on #344
pm ERR! Failed at the mern-starter@3.0.0 start script 'NODE_ENV=production ./node_modules/.bin/nodemon server/index.js'.
npm ERR! Make sure you have the latest version of node.js and npm installed.
npm ERR! If you do, this is most likely a problem with the mern-starter package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     NODE_ENV=production .

[2018-02-19 22:07] TeodorKolev opened #354 "Loading static images"
Which is the folder that images must be stored and to be loaded from?

[2018-02-25 17:52] antoniobrandao commented on #344
My 4 suggestions:
- Ability to use decorators, eg. `@connect` for Redux.
- Make the style loader compatible with both `SASS` and `SCSS` syntax.
- Include something in the development config like `xip.io` or `browserSync`, which serves the site in the local network so we can test on our mobile devices.
- ESLinter config based on `Javascript Standard Style`.

[2018-02-26 04:23] huygo93123 opened #355 "I want use animate transition page with react-router , Can you help me ? i tried but fail"

[2018-02-26 04:38] #355 closed

[2018-02-26 04:39] huygo93123 commented on #355
i find it :) https://codepen.io/tansongyang/pen/PNRGLB and https://reactjs.org/docs/animation.html

[2018-02-27 20:28] mannyhenri commented on #344
All the suggestions above are great but I'd suggest you focus on the main improvements/upgrade such as React V16+, Router V4, Yarn support and webpack latest versions and build other ideas as extensions. This way build times will be shorter and also GTM faster.

[2018-02-28 02:03] antoniobrandao commented on #344
Webpack 4 is out. Build performance is so much faster it's worth a look.

[2018-03-01 20:20] MiloshN commented on #344
I hope in big MERN update, the official web page will use React. 💃 😄 😅

[2018-03-02 18:44] jadhavajay commented on #344
Is this project still active? Haven't seen any commits or PRs merged since a month... Is any other branch being used?

[2018-03-07 12:46] #336 closed

[2018-03-15 00:54] mm420admin commented on #344
Waiting for this...

[2018-03-16 04:01] madani opened #356 "importing css file"
Hi There,

I'm using mern version 3

I'm getting this error when importing css file:
`Prop `className` did not match. Server: "null" Client: "jZvi7ZNA32VOSjdAqDLPY"`

webpack.config.dev.js
<pre><code>
const webpack = require('webpack');
const path = require('path');
const precss = require('precss');
const postcssImport = require('postcss-import');
const cssNext = require('postcss-cssnext');
const

[2018-03-20 22:09] Master244 commented on #322
Having the same problem node version 9 fresh install

[2018-03-27 18:04] kmenghini commented on #209
Having this issue currently - were you guys able to find a solution?

[2018-03-29 08:29] hhlevnjak commented on #186
It was just added to the loaders.

Though this was over a year ago, webpack configurations had other problems as well, so we rewrote the whole webpack configuration to match the needs of the project in the meantime.

[2018-04-01 22:55] russellr86 commented on #344
I'm also waiting for this and very excited, any updates on progress? @abinavseelan, Thanks!

[2018-04-02 04:01] #356 closed

[2018-04-09 13:18] mfazer commented on #344
What about this param for installation?
--scripts-version=**tsx** or **jsx*

[2018-04-16 20:30] AugustAtSeattle commented on #344
I'm also waiting for this and very excited, any updates on progress? @abinavseelan, Thanks!

[2018-04-17 13:08] AndrewBestbier commented on #344
Looking forward to trying this out 👍

[2018-04-18 18:48] isaadansari commented on #195
You need to download MS build tools for this to be working.

[2018-04-25 12:07] AlexCoderBit commented on #344
**MERN full-stack project as a boilerplate**, with all best practices implemented out of the box and latest up-to-date components/modules, including the possibility to easily put-in your own preferable modules sounds so nice! But, looks too good to be true :)

[2018-04-25 15:03] MrChristofferson commented on #344
Yes, at least an update would be amazing :)

[2018-05-03 08:40] andyfaizan commented on #151
How does one serve the dist folder generated by mern using nginx? Unfortunately I'm not experienced with nginx and hence could not get it to work. The absence of an index.html also makes things a bit tricky.

[2018-05-03 16:53] mattlubner commented on #151
It's not possible to host `dist/` with _only_ Nginx, as Mern dynamically generates the site index in its Node process. @somus's answer is showing how to put Nginx in front of that Node process, using an Nginx reverse proxy to forward requests to Node.

[2018-05-03 18:30] andyfaizan commented on #151
Thanks @mattlubner for the explanation.

[2018-05-08 12:42] EternallLight commented on #308
The same here.
Fixed so far by removing the --hardmony-proxies from the npm test task and upgrading mongoose to 4.13.12. Not sure what consequences it may cause but so far tests successfully run till the end.

[2018-05-14 11:37] andyfaizan opened #360 "Hosting static assets and build artifacts using Docker volumes"
This is a follow up question to my doubt with `Nginx` (Issue #151 ).

I am currently hosting a MERN based project with docker where I serve the contents of the `dist` folder. I would like to update the content being served by just changing / updating the `dist` folder and/or `server.bundle.js` (using docker volumes) but this fails to work. Is it possible to do the same or do I have to build and re

[2018-05-14 11:39] andyfaizan commented on #360
I'm closing this until I have further tested it.

[2018-05-14 11:39] #360 closed

[2018-05-22 06:35] gabrielmoncea commented on #344
How's the work on version 3 going?

[2018-05-22 11:44] rosariorussell commented on #344
It looks dead to me. I'd like to contribute as soon as I graduate

[2018-05-26 11:34] EternallLight commented on #344
Hello,

I noticed that the maintainer is to longer working at Hashcode since March. Is that supposed to mean that v 3.0 is never going to be release? @abinavseelan please leave your comments.

[2018-05-26 12:42] jadhavajay commented on #344
I think it is a good time to fork the project into another repository,
where it can be actively maintained.

On Sat, May 26, 2018, 5:04 PM Andrey Gruniov <notifications@github.com>
wrote:

[2018-05-26 20:06] fazlerocks commented on #344
Hey all 👋

Thank you for your interest in this project. We started the new version ambitiously a few months back, but due to a sudden change in the priorities of the company, we had to delay it.

However, we love MERN, and we want to finish version 3.0. We are currently looking for active maintainers for this project who can help us release the next version asap. If you are interested, please leav

[2018-05-26 20:19] mannyhenri commented on #344
@fazlerocks please add me to the team I'll help out. I also have a deep interest in this version 3 to be completed as we have a pending course on MERN Essentials at Lynda/Linkedin Learning I'd like to record sooner than later.

So add @mannyhenri to the maintainers and I'll take a look at where version is and see how I can give a hand.

[2018-05-26 21:08] mattlubner commented on #344
Hi there @fazlerocks! I'm interested in being an active maintainer of MERN. Reach out and let's chat; there's likely some logistics to figure out with bringing community developers like myself onboard (since MERN development has thus far been managed exclusively by Hashnode employees, if I understand correctly). There's a lot of work to do to hit the "MERN 3.0" milestone, and even more potential w

[2018-05-26 21:42] rosariorussell commented on #344
I am interested. I am currently in a coding bootcamp at the University of Miami and they are focused on teaching the MERN stack. I don't know how much I can contribute as a "junior" developer but I'd love to help out if possible.

[2018-05-26 22:00] jayarnielsen commented on #344
Having just started a MERN project on next.js because this project seemed abandoned, I'm also interested in contributing.

[2018-05-26 22:04] mannyhenri commented on #344
Wow! @fazlerocks with all of us @mattlubner @rosariorussell @jayarnielsen we should be able to bring V3 faster than a parsec! (sorry just saw Han Solo, had to say it). :shipit:

[2018-05-26 22:29] fazlerocks commented on #344
Yes, that's a great idea. I will get back on the current status of the project by tomorrow EoD.

[2018-05-26 22:34] MrChristofferson commented on #344
I’ll gladly spend some time on this project if we’re able to go off a roadmap like @mannyhenri suggested 👍🏼

[2018-05-27 02:51] v29neil commented on #344
I'll be happy to contribute in v3.

[2018-05-27 11:42] ashifa454 commented on #344
@fazlerocks I would love to contribute in V3.

[2018-05-29 09:44] #265 closed

[2018-05-29 23:11] zakpgrove commented on #344
I'm also interested in contributing to V3. Let me know once you have a roadmap put together.

[2018-05-29 23:14] mannyhenri commented on #344
@fazlerocks let me know if you need my help in putting the roadmap together. We have lots of people willing to get started, eager to get this going! ;)

[2018-05-29 23:38] russellr86 commented on #344
@fazlerocks, I would love to help out as well.

[2018-05-30 19:56] fazlerocks commented on #344
Hey, @mannyhenri 👋Welcome aboard. 🚢

[2018-05-30 20:08] fazlerocks commented on #344
# 🚢Welcome abroad

Welcome the new maintainers of MERN project.
@mannyhenri @mattlubner @rosariorussell @jayarnielsen

![](https://media.giphy.com/media/FQyQEYd0KlYQ/giphy-downsized.gif)

[2018-05-30 21:16] the-bionic commented on #344
Hello, I've been following this thread since last year, and I'd like to
contribute to V3 of this project.

On Wed, May 30, 2018, 9:08 PM Syed Fazle Rahman <notifications@github.com>
wrote:

[2018-05-30 23:52] mannyhenri commented on #344
All let me know anyone that haven't been added to the maintainers and would like to help out. The team is working on a board where we can define a realistic timeline and issues related to it to get to V3!

[2018-05-31 04:29] MrChristofferson commented on #344
@mannyhenri Definitely still interested :)

[2018-05-31 06:01] fazlerocks commented on #344
@MrChristofferson You are a maintainer now! 🏅🎉

[2018-05-31 06:45] AndrewBestbier commented on #344
Also keen to contribute 👍

[2018-05-31 06:48] fazlerocks commented on #344
@AndrewBestbier Added you. 🍺

[2018-06-01 15:02] mannyhenri commented on #344
Just tried it and there seems to be a lot of errors, which I have a feeling are all related to React Router’s V4 updated syntax. Let me suggest this if you guys are ok and up to it, unless @fazlerocks or anyone that has touched it before you have an objection…we start fresh and update only the safest items first, like React V16 should be straightforward. I would also create branches up to `3.0` so

[2018-06-01 15:16] jayarnielsen commented on #344
This sounds much more reasonable :)

On Fri, Jun 1, 2018, 9:02 AM Manny Henri <notifications@github.com> wrote:

[2018-06-01 16:06] antoniobrandao commented on #344
I stopped using MERN because it wasn't fit for Production in my case. I don't need Webpack code in my server code - also it's a shared server where I don't have permission to install global NPM modules like Webpack, which made it simply impossible for me to deploy MERN. After building the whole project with MERN, sadly I had to revert everything to a simple express.js + "create-react-app" setup.

[2018-06-01 16:41] mannyhenri commented on #344
@fazlerocks others who offered to help: @ashifa454 @AndrewBestbier @the-bionic @russellr86 @zakpgrove @alexandru-tomescu

[2018-06-01 16:43] mannyhenri commented on #344
@abinavseelan and All, as soon as we've got a roadmap with specific milestones and labels we'll remove this issue to clean up and get a specific and granular list of issues focused on building the roadmap. Note to all!

[2018-06-01 17:27] cosmicbuffalo commented on #344
I've been hoping for this project to come back to life for a while now. Happy to help out and looking forward to seeing the new roadmap!

[2018-06-01 20:26] mannyhenri opened #361 "Create initial branches for roadmap"

[2018-06-01 20:34] mannyhenri opened #362 "Review PRs/issues & categorize them"
- [x] Review issues and add labels/milestones
- [x] Review PRs and add labels/milestones

[2018-06-01 20:40] mannyhenri opened #363 "Update React to V16 (or latest)"

[2018-06-01 20:57] mannyhenri commented on #344
All, I've started working on the board, milestones, labels and new tasks towards V2.5 which will be our next version adding React V16.x. I'm going through all the PRs and issues and will categorize them accordingly. Also I will close this issue to keep the repo issues and PRs clean and focused! Thanks all for your comments we're on our way.

[2018-06-01 21:08] mannyhenri opened #364 "Update Readme -> new roadmap"
Update the current readme file to communicate the official roadmap and align everyone.

[2018-06-01 21:13] mannyhenri commented on #363
also take a look at #348

[2018-06-01 23:40] mannyhenri commented on #354
Usually in the public folder in your client, unless you want to load them from a server, so in other words you got some control over this. FYI I'll close this issue now.

[2018-06-01 23:40] #354 closed

[2018-06-01 23:44] mannyhenri commented on #340
Mongo is a DB so you would usually get/upload images to your server using express static files serving or the client. See an example here https://expressjs.com/en/starter/static-files.html

[2018-06-01 23:44] #340 closed

[2018-06-01 23:47] mannyhenri commented on #335
You get it from your React client side application and following the usual navigator.language property http://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language

[2018-06-01 23:47] #335 closed

[2018-06-01 23:50] mannyhenri commented on #333
Duplicate of #330 and we'll thoroughly test it before we release it.

[2018-06-01 23:50] #333 closed

[2018-06-01 23:53] mannyhenri commented on #332
We're planning to update to webpack V4 in V2.6.0 so this should be handled through the update.

[2018-06-01 23:54] #331 closed

[2018-06-01 23:54] mannyhenri commented on #331
Working on it. Closing this one.

[2018-06-01 23:55] mannyhenri commented on #329
Working on updating to React plus fixing all bugs

[2018-06-01 23:55] #329 closed

[2018-06-01 23:59] mannyhenri commented on #328
Best practices around setting languages is to use sessionstorage or localstorage on the client. Cookies aren't the best and safest way to do this anymore. This API is also much better to work with. https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Client-side_storage#Storing_simple_data_%E2%80%94_web_storage

[2018-06-01 23:59] #328 closed

[2018-06-02 00:03] mannyhenri commented on #327
I would check with the oracleDB folks to validate what this error is, but MERN already has a DB with MongoDB.

[2018-06-02 00:03] #327 closed

[2018-06-02 00:05] mannyhenri commented on #325
Unable to check this one, closing.

[2018-06-02 00:05] #325 closed

[2018-06-02 00:09] #323 closed

[2018-06-02 00:10] #322 closed

[2018-06-02 00:17] mannyhenri commented on #321
Thanks for reporting this issue, we're working on a new version V2.5.0 #330 that will fix any or all current issues. In the meantime if you want make absolutely sure you don't get the latest version of the dependencies remove the `^` before any package versions in package.json.. ex.: `"mockgoose": "^6.0.3"` to `"mockgoose": "6.0.3"`

[2018-06-02 00:17] #321 closed

[2018-06-02 00:18] #320 closed

[2018-06-02 00:20] #319 closed

[2018-06-02 00:30] #315 closed

[2018-06-02 00:31] mannyhenri commented on #315
Just leveraging the ES6 class syntax in this case

[2018-06-02 00:35] mannyhenri commented on #314
closed due to duplicated (and fixed) issue.

[2018-06-02 00:35] #314 closed

[2018-06-02 00:35] #313 closed

[2018-06-02 00:44] mannyhenri commented on #311
thanks for reporting this, we're currently focusing on upgrading React, and will fix any bugs that prevent the initial project generated by the cli to work. Most errors in the meantime can be fixed by removing `^` to the dependencies, ex.: `"mockgoose": "^6.0.3"` to `"mockgoose": "6.0.3"` to lock in the version in the package.json file.

[2018-06-02 00:44] #311 closed

[2018-06-02 00:44] #310 closed

[2018-06-02 00:45] #309 closed

[2018-06-02 00:49] mannyhenri commented on #305
Are there any specific requirements to the env variable with cloud9? Not familiar with them.

[2018-06-02 00:50] #304 closed

[2018-06-02 00:50] #301 closed

[2018-06-02 00:53] mannyhenri commented on #297
This has been officially moved to V2.8.0 and will be taken care of soon (working on V2.5)

[2018-06-02 00:54] mannyhenri commented on #295
Yes we will update readme as we move towards V3.0....

[2018-06-02 00:54] #295 closed

[2018-06-02 00:56] mannyhenri commented on #293
Not at this point. Focusing on React for the time being.

[2018-06-02 00:56] #293 closed

[2018-06-02 00:57] #292 closed

[2018-06-02 00:58] mannyhenri commented on #291
No you can't please change the name with underscore or other.

[2018-06-02 00:58] #291 closed

[2018-06-02 01:01] mannyhenri opened #365 "Update Readme instructions"
- [ ]  add NPM/CLI instructions when running into issues.

[2018-06-02 01:03] #365 closed

[2018-06-02 01:06] #285 closed

[2018-06-02 01:07] mannyhenri commented on #283
Will definitely look into this, thanks for sharing.

[2018-06-02 01:07] #281 closed

[2018-06-02 01:08] #279 closed

[2018-06-02 01:08] #278 closed

[2018-06-02 01:08] #277 closed

[2018-06-02 01:09] #276 closed

[2018-06-02 01:11] #274 closed

[2018-06-02 01:11] #272 closed

[2018-06-02 01:17] mannyhenri commented on #270
Try the comments on issue #152

[2018-06-02 01:17] #270 closed

[2018-06-02 01:18] #268 closed

[2018-06-02 01:20] #263 closed

[2018-06-02 01:20] #262 closed

[2018-06-02 01:42] mattlubner commented on #283
Agreed, this is a common pattern these days and we'll definitely be moving towards it as we make our way through the v3 milestones.

Do be aware though, using persistent Docker volumes to exclude subdirectories from the host's (project's) working directory will have the side effects of slowing the container's startup (after each image rebuild) and resulting in (potentially many) orphaned persisten

[2018-06-02 04:12] #261 closed

[2018-06-02 04:28] mannyhenri commented on #237
Probably a bit delayed to answer this one, but a lot of this will change as we implement React Router V4 and webpack 4...so keep following our updates.

[2018-06-02 04:28] #237 closed

[2018-06-02 04:29] #236 closed

[2018-06-02 04:30] #232 closed

[2018-06-02 04:33] #256 closed

[2018-06-02 04:35] mannyhenri commented on #230
@somus if this is still an issue, I'd love for you to take a look at this and do a PR.

[2018-06-02 04:37] #221 closed

[2018-06-02 04:37] mannyhenri commented on #221
closed due to duplicate and fixed with #198

[2018-06-02 04:47] #169 closed

[2018-06-02 04:47] mannyhenri commented on #165
Many changes coming with using webpack V4. closing for now.

[2018-06-02 04:47] #165 closed

[2018-06-02 04:48] #183 closed

[2018-06-02 04:52] #197 closed

[2018-06-02 04:52] #200 closed

[2018-06-02 04:53] mannyhenri commented on #362
@fazlerocks all PRs and issues reviewed, labeled and milestoned!

[2018-06-02 04:53] #362 closed

[2018-06-02 04:55] #361 closed

[2018-06-02 05:00] mannyhenri commented on #363
close for duplicates

[2018-06-02 05:00] #363 closed

[2018-06-02 05:01] mannyhenri commented on #330
Everyone who is following this issue, we are working on it for version 2.5...

[2018-06-02 05:06] mannyhenri commented on #330
We're looking at a PR #289 to upgrade to React 16.

[2018-06-02 05:19] mannyhenri commented on #308
@MrChristofferson up to take a look at the test issues? This issue might be related to #250

[2018-06-02 05:20] mannyhenri commented on #287
@MrChristofferson up to take a look at the test issues? This issue might be related to #250

[2018-06-02 05:20] mannyhenri commented on #216
@MrChristofferson up to take a look at the test issues? This issue might be related to #250

[2018-06-02 05:20] mannyhenri commented on #208
@MrChristofferson up to take a look at the test issues? This issue might be related to #250

[2018-06-02 05:20] mannyhenri commented on #201
@MrChristofferson up to take a look at the test issues? This issue might be related to #250

[2018-06-02 05:29] mannyhenri commented on #175
@somus since you're a contributor would you be able to review @wootsaejao PR #246 ? Offer a permanent fix for this issue?

[2018-06-02 05:31] mannyhenri commented on #234
@jayarnielsen would you be open to take a look at this issue?

[2018-06-02 05:33] mannyhenri commented on #342
@AndrewBestbier there seems to be a few issues with NPM installs, would you be open to take a look at it?

[2018-06-02 05:34] mannyhenri commented on #344
@AndrewBestbier if you want to take a look at #342 let me know.

[2018-06-02 05:51] mannyhenri commented on #344
# For anyone contributing or willing to:
We have now an [official agile board ](https://github.com/Hashnode/mern-starter/projects/1) for tracking progress through our tasks towards V3.0.0. We'll do more updates with interim versions and if you're curious what each will bring look at the milestones and/or labels.

## How we track issues
Each issue will be labeled and assigned a milestone. If the ta

[2018-06-02 06:03] MrChristofferson opened #366 "Package manager"
Decide on `npm` vs `yarn` exclusively and include the lockfile in source control to eliminate tech debt.

[2018-06-02 06:07] mannyhenri commented on #366
I'm all NPM, simply because it's the more mature one and has been improving a lot since yarn came out.

[2018-06-02 07:39] AndrewBestbier commented on #342
Sure thing @mannyhenri

[2018-06-02 07:39] mannyhenri commented on #205
@MrChristofferson awesome! thanks for taking care of these!

[2018-06-02 08:15] mannyhenri commented on #342
@AndrewBestbier awesome, let me ask @fazlerocks to add you and if you have a PR I'll look into it

[2018-06-02 08:16] mannyhenri commented on #344
@fazlerocks can you add @AndrewBestbier to contributors?

[2018-06-02 10:11] fazlerocks commented on #344
@AndrewBestbier added you. Please follow the invite link to get started.

[2018-06-02 16:08] u0078867 commented on #332
Indeed, that is definitely fixed in webpack 4.

[2018-06-03 12:32] mannyhenri commented on #175
Just merge @wootsaejao PR #246

[2018-06-03 12:32] #175 closed

[2018-06-03 13:07] mannyhenri commented on #177
with all the improvements we're looking at this might be resolved, closing for now.

[2018-06-03 13:07] #177 closed

[2018-06-03 19:48] mannyhenri commented on #342
Fixed with PR #367

[2018-06-03 19:48] #342 closed

[2018-06-03 19:49] #230 closed

[2018-06-03 21:35] mattlubner commented on #308
This may be fixed by #367, could you test that branch and post results here?

[2018-06-03 21:40] mattlubner commented on #216
I'm unable to reproduce this… would strongly suspect it was fixed in any one of the several commits to `master` since the issue was reported. Closing as a result.

[2018-06-03 21:40] #216 closed

[2018-06-03 21:42] mattlubner commented on #208
This should be resolved with #367

[2018-06-03 21:43] mattlubner commented on #201
The `--harmony-proxies` flag is no longer supported by Nodejs, and actually results in the test suite crashing immediately if passed. Removed in #367.

[2018-06-03 21:43] #201 closed

[2018-06-03 21:52] mattlubner commented on #366
Haha, looks like I covered this in #367 as well!

We can totally switch between Yarn / NPM depending on what the community feels is the best decision. I think NPM is probably better for most, though, because of it's ubiquity.

[2018-06-03 21:53] MrChristofferson commented on #366
Closing this, @mattlubner got `package-lock.json` in there 🎉

[2018-06-03 21:53] #366 closed

[2018-06-03 22:00] mannyhenri commented on #307
@mattlubner I suspect with the udpated webpack we don't have this issue anymore, did you see differently?

[2018-06-03 22:02] mattlubner commented on #307
This strikes me as a possible duplicate of #153 ?

[2018-06-03 22:04] mannyhenri commented on #307
@mattlubner yes it is...closing

[2018-06-03 22:04] #307 closed

[2018-06-03 22:16] mattlubner commented on #203
Perhaps I've misunderstood the request, but it is already possible to use async/await on the server with the latest version of MERN.

[2018-06-04 04:19] MrChristofferson commented on #149
Fixed by https://github.com/Hashnode/mern-starter/pull/369 and in `upgrade/2.4.0` branch.

[2018-06-04 04:19] #149 closed

[2018-06-04 04:42] MrChristofferson commented on #305
Spun up a c9 instance, followed the step-by-step for the cli in the readme, and couldn't reproduce.

Full output:
[code]

[2018-06-04 04:42] #305 closed

[2018-06-04 10:31] alexandru-tomescu commented on #344
I'm not a ninja yet, but i have good experience with all these technologies and i want to do some tasks to help you in my free time. Waiting for you guys :)

[2018-06-04 11:56] mannyhenri commented on #344
Awesome @alexandru-tomescu ! Could you pull and test branch 2.4.0? See if everything works on your end. We are planning to merge it into master so the more heads that test it before the better!

[2018-06-04 13:32] mannyhenri commented on #287
Fixed with PR #370

[2018-06-04 13:32] #287 closed

[2018-06-04 13:53] alexandru-tomescu commented on #344
yes @mannyhenri, seems everything ok.

[2018-06-04 14:16] alexandru-tomescu commented on #344
i think a slack channel would be useful :)

[2018-06-04 14:32] #308 closed

[2018-06-04 14:35] mannyhenri commented on #344
we have one @fazlerocks could you add @alexandru-tomescu to contributors and slack!

[2018-06-04 16:23] #203 closed

[2018-06-04 18:12] mannyhenri commented on #344
All...V2.4 has been pushed to master!!! Take a look at the Readme file for changes, etc.

[2018-06-05 05:49] ashifa454 commented on #344
I also want to contribute in V3, please let me know if there is something I can contribute with.

[2018-06-05 22:52] mannyhenri commented on #344
All we're now working on V2.5 so basically this version is to update to React V16.x and add proptypes...anyone wants to tackle these 2?

[2018-06-05 23:09] mannyhenri commented on #344
Alright @ashifa454 @alexandru-tomescu @cosmicbuffalo @jayarnielsen @AndrewBestbier @rosariorussell now that version 2.4 is out we're moving on to 2.5, the cool update to React V16.x and proptypes. Do you want to help out? If so let me know I'll tag you for the task and we'll talk.

[2018-06-05 23:28] mannyhenri opened #372 "Review/update website"
- [ ] revise documentation on site/readme
- [ ] update logo

[2018-06-06 08:22] fatirjhon opened #373 "mern init mernApp"
module.js:538
    throw err;
    ^

Error: Cannot find module '../lib/commands/main.js'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\Users\Jhon\AppData\Roaming\npm\node_modules\mern-cli\bin\mern.js:3:1)
    at Module._compile

[2018-06-06 09:05] alexandru-tomescu commented on #373
@fatirjhon more details please ? Do you pulled the last version ? Command ? Environment info ?

[2018-06-06 11:53] ronwsg commented on #373
I face the same
Node v8.9.3
mern-cli@3.0.2
windows 10

C:\app> npm install -g mern-cli
C:\Users\xxxx\AppData\Roaming\npm\merng -> C:\Users\xxxx\AppData\Roaming\npm\node_modules\mern-cli\bin\merng.js
C:\Users\xxxx\AppData\Roaming\npm\mern -> C:\Users\xxxx\AppData\Roaming\npm\node_modules\mern-cli\bin\mern.js
+ mern-cli@3.0.2
added 28 packages in 3.131s

C:\app>mern init myApp
module.js:538
    thro

[2018-06-06 13:08] vdhoangson commented on #373
same error on mac os

[2018-06-06 13:31] decentraliser commented on #373
same error on bionic beaver

[2018-06-06 13:41] MrChristofferson commented on #373
We've identified the problem and will be patching soon. A temporary work-around is to clone and run the `mern-starter` repository yourself. We'll let you know when this is resolved. Thanks for reporting 👍

[2018-06-06 14:18] fatirjhon commented on #373
@alexandru-tomescu I just want to create mern project in CLI way, when installing `npm install -g mern-cli` there is no problem.

[2018-06-06 14:43] mannyhenri commented on #373
Folks, just sent a fix to MERN-CLI and I've also backtracked the version to match our current roadmap so it's normal if you see version 2.4.1! But it should be working now!

[2018-06-06 14:43] #373 closed

[2018-06-06 14:44] mannyhenri commented on #373
@fatirjhon @vdhoangson @ronwsg @decentraliser let me know if you see the error again but it should be fixed now.

[2018-06-06 14:53] vdhoangson commented on #373
<img width="565" alt="screen shot 2018-06-06 at 9 52 44 pm" src="https://user-images.githubusercontent.com/4547214/41046122-ffe4df6e-69d3-11e8-99f9-d0568b03d477.png">

can't init new app

[2018-06-06 14:56] mannyhenri commented on #373
@vdhoangson re-install to the latest version (V2.4.1) so either do `npm i -g mern-cli` to do a fresh reinstall or `npm uninstall -g mern-cli` and then the above command. This is the error before the update

[2018-06-06 15:04] mannyhenri commented on #373
@vdhoangson You should be installing from this package: https://www.npmjs.com/package/mern-cli

[2018-06-06 15:07] mannyhenri commented on #373
@vdhoangson just to be absolutely certain you can do `npm i -g mern-cli@2.4.1`

[2018-06-06 15:13] vdhoangson commented on #373
@mannyhenri  i can install it. thank you

[2018-06-07 04:04] ashifa454 commented on #344
Yaa @mannyhenri. I am in.

[2018-06-07 07:08] fatirjhon commented on #373
@mannyhenri it works on @2.4.1 thank you so much dude !

[2018-06-07 14:36] mannyhenri commented on #344
@fazlerocks could you add @ashifa454 and @alexandru-tomescu to contributors and slack?

[2018-06-07 14:37] mannyhenri commented on #344
ALL -> `mern-cli` has been updated to `2.5.0`:
- Now it installs the `mern-starter` dependencies automatically when you initialize a new project

[2018-06-07 17:17] ashifa454 commented on #344
@mannyhenri i have installed React 16.4.0 and Migrated under 2.5.0 branch.

[2018-06-07 17:20] mannyhenri commented on #344
Awesome! @ashifa454 could you create a PR and we'll take a look at it?

[2018-06-07 19:02] ashifa454 commented on #344
@mannyhenri  I am having some problem with react-router let me sort this out then I will create a PR. in the meantime can you please introduce me to the slack-channel.

[2018-06-07 19:32] mannyhenri commented on #344
@ashifa454 if you're trying to add react-router 4 right away, it might be better to postpone updating react-router as it will introduce many changes to the repo and might be a lot for a one man job. The plan is to get React 16.x and proptypes fix for 2.5, and leave React-router for V2.8. However, I'm not going to stop anyone if they're willing to tackle it all at once, but could be a pretty big ta

[2018-06-08 01:00] ashifa454 commented on #344
@mannyhenri yaa it's a lot of ton task, I am creating a PR, please have a look.

[2018-06-08 01:41] ashifa454 commented on #344
@mannyhenri I have two confusions if you could help me with, so I migrated react 16 and propTypes, but it seems like react- router will need the earlier react, which include the PropTypes.
![screen shot 2018-06-08 at 7 07 40 am](https://user-images.githubusercontent.com/13622867/41134575-b14984fa-6aea-11e8-89ea-08bd8c31f176.png)
let say if I left the concern of stability for this moment as it's st

[2018-06-08 04:44] mannyhenri commented on #344
@ashifa454 ok and thanks for your work on it. I'll take a look at your PR tomorrow, and provide feedback. Most likely we'll end up merging to a separate branch and continue working on it.

[2018-06-08 04:46] ashifa454 commented on #344
@mannyhenri thankyou.

[2018-06-11 03:55] courageDeveloper commented on #195
Would love to get the answer to this

[2018-06-12 15:20] sanketsingh24 opened #376 "running merng produces an error"
When i run merng, it produces the following error-

[code]

I am running merng locally here, is that why this error is occuring?

wrt [this response](https://github.com/Hashnode/mern-cli/issues/33#issuecomment-396625857)

[2018-06-12 15:20] mannyhenri commented on #376
Thanks for posting this. Let me test and provide feedback/fix.

[2018-06-12 15:29] mannyhenri commented on #344
@ashifa454 have you had a chance to work further with the integration of React 16/proptypes?

[2018-06-12 15:33] mannyhenri commented on #344
@alexandru-tomescu @cosmicbuffalo @jayarnielsen @AndrewBestbier @rosariorussell any of you have some cycles to work on integrating React 16/proptypes? FYI most of the work will constitute in updating routes and most likely might end up updating also React-router to V4. Let me know.

[2018-06-12 15:33] mannyhenri commented on #344
@alexandru-tomescu feel free to do a PR if you've worked on it! ;)

[2018-06-12 15:59] ashifa454 commented on #344
@mannyhenri sorry I had some college exams but I am continuing it from today, also I have some silly doubts to clear, so will this discussion panel would be a place or should I mail you?

[2018-06-12 16:14] mannyhenri commented on #344
@ashifa454 you can either use this or create a new issue where we can discuss further.

[2018-06-12 16:27] ashifa454 commented on #344
I installed React 16.4.0 , Proptype (as separate NPM dependency https://www.npmjs.com/package/prop-types) and Changed Files accordingly
Now while Starting project I am getting an error

- React-Router ( because i think react-router 2.x.x is dependent on PropType by react and because we have updated it to 16 and prop type is not part of it, so its throwing error)

- While Testing it with `npm run t

[2018-06-12 17:44] mannyhenri commented on #344
@ashifa454 you are right, we'll need to update React-router so let's head towards doing this. If you have cycles to work on this go for it, @mattlubner will help out this weekend. Also, feel free to take a look at #348 for references.

[2018-06-12 18:57] ashifa454 commented on #344
I am on it @mannyhenri, I have some ways to integrate it, let me give it a try and surely I will be needing help @mattlubner.

[2018-06-12 19:13] mattlubner commented on #344
@ashifa454 I'd suggest starting with `upgrade/mern-v2.5.0` and updating to react-router v4 first, get that working, commit, and then tackle react v16.

[2018-06-13 08:22] garyee opened #377 "DevTools.instrument is not a function"
I installed the starter with intructions on the website.

When I npm start and the use Chrome I got the following error in the console:

Uncaught TypeError: DevTools.instrument is not a function
    at configureStore (store.js?006e:22)
    at eval (index.js?8956:11)
    at Object.<anonymous> (app.js:2042)
    at __webpack_require__ (vendor.js:713)
    at fn (vendor.js:118)
    at Object.<anonymous

[2018-06-13 12:22] mannyhenri commented on #377
A first read indicates possibly an issue with redux. We'll take a look at it and fix/update you

[2018-06-14 08:24] mikeyhogarth commented on #377
The import has gone squiffy for the dev tools (when will people learn that changing import styles is a breaking change!!). Anyway, you need to specify `default` now because at some point they've switched from commonjs to ES6 modules. So, to fix the existing code there are two changes required;
[code]

[code]

[2018-06-14 19:48] mattlubner commented on #377
This is a bug resulting from my fat-fingering the `import`->`require()` syntax change, which was done so we can conditionally import `./DevTools` only in development environments (keeping the production JavaScript bundle as minimal as possible). @mikeyhogarth is 100% correct, we need to reference the `default` property of the required module.

I've submitted a PR (#378) with the fixes as outlined

[2018-06-15 09:25] AlnoorKhan commented on #344
@fazlerocks I would like to contribute for this project.
Please add me.

[2018-06-17 18:16] jerryturcios08 opened #379 "Add a way to remove the sample project"
Hello, I have a suggestion for this project. I am aware of the sample blog app that already exists upon cloning the repository. One thing that could make this starter more convenient is a cleanup script that can be run. This cleanup script would remove any file that is associated with the blog app but keeps all configurations and setup files intact. Ultimately, one would have a clean slate to star

[2018-06-17 21:38] BaptisteGarcin opened #380 "MERN newly created can't switch language"
Hi,
Looks like we can't switch the language even though the feature is implemented

[2018-06-17 21:48] mikeyhogarth commented on #377
Hey dude - so sorry if that comment seemed disrespectful - I thought it was a react update that had broken this and I've been bitten by their "non breaking changes" so many times that I guess I just commented without thinking. Sincere apologies for any offence caused.

[2018-06-18 07:55] mikeyhogarth commented on #377
Also wanted to say (sorry, went to sleep, woke up, still thinking about it!) That this isn't fat-fingerings,  it's a perfectly legitimate mistake and one I have made so many times. Usually it goes like this;

1. Move import to a place where it's dynamic or not at the top
2. Change it to commonjs without "default"
3. Yay, build passes! And you carry on withour realising a runtime error has been int

[2018-06-18 13:10] #377 closed

[2018-06-20 01:34] qiepeipei commented on #344
@abinavseelan  I would like to contribute for this project.

[2018-06-20 19:18] dopedwolf commented on #380
Did you run npm start or npm run bs?

[2018-07-02 17:43] mattlubner commented on #377
Hey @mikeyhogarth, I appreciate you saying that. It's important (for us all) to remain mindful of the fact that we all make mistakes (sometimes the mistake is forgetting that everyone makes mistakes 😜).

Also, thanks for finding and contributing the fix! As always, please (everyone) feel free to submit PRs if you find issues such as these!

[2018-07-03 09:16] EzgiTetik commented on #170
@codeuniquely same problem but on Windows. Did you find the solution?

[2018-07-08 18:34] judylin1 opened #384 "Integration with Passport - Multiple Requests"
I'm trying to add Passport.JS to my MERN project, but deserializeUser keeps getting called twice. Both times I can see my user object, but the first time req.user is undefined, but the second time it's correct. Why is it getting called twice and why does only the second time work? Does anyone have a working example with Passport?

Additional details:
MERN: 2.0.0
passport: 0.4.0
express-session: 1.

[2018-07-12 05:32] #330 closed

[2018-07-12 05:35] mannyhenri commented on #344
All, we won't be adding new contributors for the time being, but feel free to create PRs and we'll add your names to the participating folks when we announce the new versions.

[2018-07-20 22:42] i-schuetz opened #386 "Quickstarter?"
Hello,

I have no idea about node, react, etc. and was just following the VS Code [tutorial](https://code.visualstudio.com/docs/nodejs/reactjs-tutorial).

There are 2 projects at the end - the first one is a [todo](https://github.com/Microsoft/vscode-react-sample) demo, I follow the instructions and the webpage opens.

Then there's this project, I follow the instructions and I don't see anything,

[2018-07-23 20:36] jr-smith commented on #376
still not able to run merng. Is there a time line when this will be done? Thanks!

[2018-07-24 23:35] mohammedajao opened #387 "ModuleNotFoundError: Module not found: Error: Can't resolve '/var/folders/9l/ytbd44ms7bsbqgmdg0qzld800000gn/T/.webpack.res.1532473755889_966158.js'"
This error pops up after I installed webpack-cli on my Mac which mern-cli also doesn't install

[2018-07-28 15:57] estebanmuruzabal opened #388 "not refreshing after a change in the code is made"

[2018-08-09 20:21] jvkiran opened #389 "Problem with production mode in server"
After i build npm run build, i got dist folder with client and server.bundle.js

I copied dist folder to linux server, and configured nginx proxy to prot 8000,
Additionally included index.js file into dist folder

so finally run below command in server.
NODE=production node index.js

but, only html file is loading, .css and .jss file are getting 404 error.

What im missing?

How do i deploy to lin

[2018-08-09 20:50] jvkiran commented on #389
Got fixed by copy of index.js outside dist folder

[2018-08-10 13:27] jvkiran opened #390 "TypeError: Cannot read property 'table' of undefined"
I've install anychart-react library in mern app, causing below error only when i start npm start, but no issues if i add while developement already running.

what was the problem while compiling/loading the library?

Error: TypeError: Cannot read property 'table' of undefined at Chart.render (/home/gtcoder/Sites/predition/client/modules/StockChart/pages/HistoricalStockChart/HistoricalStockChart.js

[2018-08-10 19:27] #389 closed

[2018-08-17 06:01] JamesSingleton opened #391 "postcss-cssnext is technically deprecated"
Are there any plans to switch from postcss-cssnext over to postcss-preset-env?

[2018-08-22 05:06] JamesSingleton opened #392 "Upgrading to webpack 4 breaks the mern-starter"
When trying to upgrade to the latest version of dependencies (at least webpack) I get that `Field 'browser' doesn't contain a valid alias configuration`

Is there any progress being done to upgrade the dependencies to the latest versions? I know there is #344 but even that list is out of date.

[2018-08-26 21:27] pedrofurtado commented on #344
I'm looking forward to this new release! 👍

[2018-08-27 10:57] sn17091004 opened #393 "Error importing header / footer background image"
Hi,

I cloned this repo and running it locally. The background images for header and footer sections are not loaded and they failed. With the following errors

1. (index):46 GET http://0.0.0.0:8000/bbaeb5f32b7042f0def39648a1d111b9.png 0 ()
2. Request URL: http://0.0.0.0:8000/bbaeb5f32b7042f0def39648a1d111b9.png -> Warning provisional headers are shown.

Not able to find from google how to fix this

[2018-08-28 12:32] sn17091004 commented on #393
This solution fixed my issue. Please note : I had to do `ctrl+c` and then do `npm run start` again to make this work.

[2018-08-28 12:32] #393 closed

[2018-08-28 15:37] yogesh27 commented on #388
Hi, works fine for me. Can you share your webpack config files?

[2018-08-28 19:03] yogesh27 commented on #393
You had to do ctrl+c and the npm run start because you made changes in webpack.config.js file and I believe nodemon is not listening/watching to webpack changes.

[2018-08-29 14:50] sn17091004 opened #394 "Deploying the app using PM2 in EC2"
Hi,

I am following this tutorial `https://medium.com/@Keithweaver_/setting-up-mern-stack-on-aws-ec2-6dc599be4737` and trying to deploy this app.

However, I am stuck in this step `pm2 start server.js -- --production` . It is throwing error but there is no description of error / logs.

Have anyone deployed this app to EC2 with PM2 ? Can you please help in deploying this app ?

Or is there anything

[2018-08-29 14:55] sn17091004 commented on #389
Hi,

Did you deploy your app to AWS or any other cloud ?

I am following this tutorial `https://medium.com/@Keithweaver_/setting-up-mern-stack-on-aws-ec2-6dc599be4737` and trying to deploy. But I am stuck at this step `pm2 start server.js -- --production`.

It is throwing error without any description. Can you please give a link / tutorial / explain briefly of how you deployed your app ? It will b

[2018-08-29 14:56] sn17091004 commented on #393
Hi,

I am following this tutorial https://medium.com/@Keithweaver_/setting-up-mern-stack-on-aws-ec2-6dc599be4737 and trying to deploy this app.

However, I am stuck in this step pm2 start server.js -- --production . It is throwing error but there is no description of error / logs.

Have anyone deployed this app to EC2 with PM2 ? Can you please help in deploying this app ?

Or is there anything wro

[2018-08-31 17:15] 9gaurav opened #395 "this.props.history is undefined Trying to access history object"
I am trying to create a login page.
After verifying user credentials I would like to redirect the user to /home page.

I am struggling to understand how to handle redirection on server / client side.

1. First I tried to use history
But history is undefiend.

[code]

2.
Importing createHistory gave me access to history object.
But history.push would only change the url and it won't redirect the pa

[2018-09-03 14:35] 9gaurav commented on #395
Solved. My Bad.

React-Router 3.0.0+ uses the router and not history

`this.props.router.push('/some/path')`

Redirect Works.

[2018-09-03 14:35] #395 closed

[2018-09-03 21:13] navmed commented on #195
1. Zap node-modules. I use:

[code]

2. Delete package-lock.json

3. Uninstall and reInstall node-gyp globally as pabhale2 suggested
[code]
4. Run npm install now, it should work.

[2018-09-05 17:27] 9gaurav commented on #394
I just deployed on **DigitalOcean** droplet and this worked.
I reckon it should work for EC2 as well.

`start:prod` script under `packages.json` gave me some clues
`"start:prod"  :  "cross-env NODE_ENV=production node index.js"`
According to this we need to set environment as production and then run `index.js`

### pm2 config and setup

**Step 1:**
`cd` to project folder

**Step 2**: Create `ecosy

[2018-09-05 17:33] sn17091004 commented on #394
Hi,

Thanks for the response. Let me spin up an instance with all these changes and I will update if it worked. Once again, thanks.

[2018-09-07 04:29] jtdaugh commented on #276
Thanks @quocble - this fixed the issue for me. Wish it were built into mern-starter.

One change for me - I had to do `import routes from './routes` vs require

Anothing I noticed (in case it helps someone here in the future) was once the double rendering/flicker went away, some elements that were previously rendered how I intended were now rendering weird in production. This was caused by validat

[2018-09-07 10:30] HansUXdev commented on #376
Same and this is really annoying because without a functioning cli its just a fullstack CRA... I came here seeing if there was a solution for why i cant generate anything...

[2018-09-07 15:37] sanketsingh24 commented on #376
Actually @mannyhenri asked me to reopen this here, I opened it on mern-cli originally.

[2018-09-07 15:37] #376 closed

[2018-09-19 21:33] koresar opened #396 "Website is lacking pictures"
Sorry for screenshots, it's the easiest way to report. Also, sorry doing that in this repo, couldn't find any other place.

![image](https://user-images.githubusercontent.com/1622575/45782799-4b149300-bca7-11e8-9c55-474d3b670316.png)

![image](https://user-images.githubusercontent.com/1622575/45782827-5ff12680-bca7-11e8-9086-cb4fcaf1ab84.png)

[2018-10-04 22:52] #379 closed

[2018-10-10 00:03] kunzhang1110 commented on #212
I twisted the runWebPackSync.js file a bit by allowing spaces on windows path, and it worked fine.

	var pathString = [webPackPath, path, outPath, configPath].map(x => {return '\"' + x + '\"'});	//allow white spaces in path for windows

	var webPackStdOut = (0, _child_process.execSync)(['node', // for windows support
  pathString[0], pathString[1], pathString[2], '--config', pathString[3], '--bail

[2018-10-14 10:32] mannyhenri commented on #344
@ashifa454 ok thanks buddy! Can you share the specifics of where you're at? Version you're working from and what you're working on?

[2018-10-14 11:15] ashifa454 commented on #344
I am on 2.5 right now and will start initigrating react router 4.x.

On Sun, Oct 14, 2018 at 4:02 PM Manny Henri <notifications@github.com>
wrote:

[2018-10-14 19:16] mattlubner commented on #344
@mannyhenri I'd be happy to contribute code and PR's!

[2018-10-15 04:07] mannyhenri commented on #344
@ashifa454 we'll let you lead the 2.6 upgrade and if you need help or get stuck with React router 4 ping me  or @mattlubner Also just to keep the conversation focused let's create a new discussion/issue for this upgrade instead of continuing on this thread.

[2018-10-15 04:09] mannyhenri opened #399 "Upgrade to React Router (MERN 2.6)"
Main thread related to upgrading to MERN 2.6 (react router 4)

[2018-10-15 04:11] mannyhenri commented on #399
@ashifa454 here is where we can track ongoing issues with React router upgrade (2.6)

[2018-10-15 04:12] mannyhenri commented on #396
Thanks for reporting this one, as soon as we're at version 3.0 we'll update the site which will fix this one!

[2018-10-15 04:12] #396 closed

[2018-10-15 04:13] mannyhenri commented on #394
Will close for the time being, feel free to reopen if there is still an issue related to the repo itself.

[2018-10-15 04:13] #394 closed

[2018-10-15 04:15] mannyhenri commented on #392
Yes we are working on all the updates related to dependencies, currently working on react router (v2.6)....

[2018-10-15 04:15] #392 closed

[2018-10-15 04:15] mannyhenri commented on #391
Same response as before we're working on updating all dependencies. Will do a post when this is resolved too.

[2018-10-15 04:15] #391 closed

[2018-10-15 04:30] ashifa454 commented on #399
Ok, i am going to continue from today. Was kinda stuck at companies
deployment.

On Mon, Oct 15, 2018 at 9:41 AM Manny Henri <notifications@github.com>
wrote:

[2018-10-15 05:43] i-schuetz commented on #386
@lacivert As I wrote, there was no such message in the logs. I'll try out this again later. Maybe the message was not shown on older versions (?).

[2018-10-17 15:03] ashifa454 commented on #399
can you guide me why we are using `match` in server.js, what is the alternative for it in V4

[2018-10-17 17:37] mattlubner commented on #399
@ashifa454 I don't believe there's a direct equivalent for `match` on the server. We'll have to use a `<StaticRouter />` and pass in `context` and `location`, then after calling `renderToString()` we can check for `context.url` and handle redirects that way.

I'm not completely sure about errors, but I'm guessing wrapping the whole thing in a try-catch or Promise should suffice for handling render

[2018-10-17 17:39] ashifa454 commented on #399
i am following the official docs and have resolved the `match` thing, just trying to fix checksum, for server and client

[2018-10-17 17:39] jamesgeorge007 opened #401 "Add provision for code-splitting as required"
``` code-splitting ``` is a great feature that can reduce load timings

It is done by webpack behind the scenes, separating them into multiple files.

So the idea basically is to have a separate command in which the user can specify which component to be imported in the code-splitting way within the routes file. If the user specifies a component that doesn't exist he/she should be prompted with a

[2018-10-17 23:22] isiahmeadows opened #402 "Can't resolve DNS host"
http://www.isitdownrightnow.com/mern.io.html

It's down for me as well as this service currently.

[2018-10-18 23:06] isiahmeadows commented on #402
Okay, it's working now. PS: if you're using GH Pages to serve mern.io, [GH does support HTTPS on custom domains now](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/), and has for a few months now.

[2018-10-18 23:06] #402 closed

[2018-10-18 23:12] isiahmeadows opened #403 "The images on mern.io requested from res.cloudinary.com are resulting in 401 errors (and thus aren't successfully loading)"
Just a heads up. All other assets on first load ran successfully (excluding the Twitter button and GA script I have blocked).

Should these not just be loaded with the first-party assets themselves, for simplicity?

[2018-10-26 06:47] kenzouno1 opened #404 "Error comment in scss file"
I use scss file to style but in file style has comment (import from node_modules) and it throw error

![chrome_2018-10-26_13-46-15](https://user-images.githubusercontent.com/1946802/47549219-9dd80f00-d925-11e8-9fcd-9f597fa69c7c.png)

[2018-11-02 01:08] #384 closed

[2018-12-04 09:15] chung2014 opened #406 "How to integrate Reactstrap into mern-starter"
I would like to use `reactstrap` with this mern-starter. But I find that I cannot start the project with `npm start` properly after I add an import statment in `client/modules/App/App.js`
e.g
`import 'bootstrap/dist/css/bootstrap.css';`

[2018-12-04 10:07] theevilhead commented on #406
Hey @chung2014,
I think the error you are getting is related to webpack loader.
It just needs to be loaded no need to complie it.

Add the below to webpack.config.babel.js just like in the image below for now and use minified version `import 'bootstrap/dist/css/bootstrap.min.css'`;

If you want to customize bootstrap I think its better to follow bootstrap guide to importing styles/compile sass
htt

[2018-12-04 11:21] chung2014 commented on #406
@theevilhead Yes, working with webpack settings is complex. And your suggest works. After adding the snippet into webpack.config.babel.js, I can run `npm run start` without error. How about if I run `npm run build` or `npm run build:server`, do I need to change my webpack config files for those environment as well?

[2018-12-04 11:41] chung2014 commented on #406
@theevilhead After I check the webpack config files, all `webpack.config.(dev|prod|server).js` has the code snippet you suggested, why is it the case that only `webpack.config.babel.js` doesn't contains it. Should all 4 config file be same?

[2018-12-05 21:59] theevilhead commented on #406
Hey @chung2014  sorry for the delay in reply. Glad the suggestion works and I cannot be of more help here because my involvement with project has started recently, so I think the original contributors might have missed it but I dont know the exact intent though.

[2018-12-05 22:04] theevilhead commented on #404
Hey @kenzouno1,
I think its the problem with the module you installed externally. Could you check that once and close this issue if resolved.
Thank you

[2018-12-09 05:19] aaronfranke commented on #344
How's the progress on this? Is there an ETA? 2018 is almost over.

I'm wondering whether it's better to use MERN 2 or MERN 3 for my project.

[2018-12-19 15:25] belmirp opened #407 "Code execution continues when it should stop in POST action"
Hello.
If you try to post empty data via API, not React client application, the application will crash. The particular line in problem is in post.controller.js file, where you check if name, title or content are empty. The line:

`res.status(403).end();`

should abort execution. Possible solution could be:

`return res.status(403).end();`

but it raises eslint consistent-return warning.

[2018-12-20 11:49] belmirp commented on #407
The problem can be avoided by putting return on the next line:

`res.status(403).end();
return;`

And I am not sure whether 403 (unauthorized) is appropriate here, shouldn't be 400 when invalid data is sent?

[2019-01-25 21:34] drewbrend commented on #279
@panvourtsis I know this is over a year late, but I just ran into this issue and solved it.  The tests are running in parallel and both trying to spin up a DB.  You need to run them serially by adding the `--serial` flag to the tests command in `package.json`.

[code]

Hopefully that helps someone else.

[2019-02-13 18:24] forresthopkinsa commented on #344
Welp it's 2019 and it doesn't look like this is going anywhere

[2019-02-18 03:00] russellr86 commented on #344
@forresthopkinsa @aaronfranke Yeah I've been waiting for this as well.  Might I suggest @feathersjs/cli and create-react-app as two alternatives.

[2019-03-20 14:40] amrnegm commented on #185
I had a similar problem but the error was related to `syscall open` rather than `syscall chmod`. There is some problem with shared folder as stated above. I followed @amoshydra's steps above, without running `chmod`, and modules installed. Thanks @amoshydra!

Still the root cause of this issue is not known! Hope someone can find it.

[2019-04-05 08:06] budim12 commented on #320
Hi can u explain how to write it up ?
I got same problem,,
but when i make folder in `/myLocalAppp/node_modules`
*my `docker-compose-dev.yaml` in folder  /myLocalAppp
got still same error..

[2019-04-25 08:35] custjiajia opened #419 "3.0啥时候好呢，我们等的黄瓜菜都凉了！"

[2019-05-07 06:43] foolisheep commented on #419
As you can see in readme, it will never be here.

[2019-05-08 16:34] ronaldvenegas1991 commented on #195
@navmed This works for me. Thanks!

[2019-06-16 14:52] shanhuiyang commented on #299
Hi @birendra-90,

Since this project is deprecated, I started a new MERN project in Typescript.
https://github.com/shanhuiyang/TypeScript-MERN-Starter
I think the new MERN project can fulfil your requirement. It is featured by:

- **[RESTful-style](https://www.restapitutorial.com/lessons/whatisrest.html)**, powered by an embedded [oauth2 server](https://github.com/jaredhanson/oauth2orize) and [pas

[2019-06-16 14:55] shanhuiyang commented on #297
Hi @nreoch25 ,

Since this project is deprecated, I started a new MERN project in Typescript.
https://github.com/shanhuiyang/TypeScript-MERN-Starter
I think the new MERN project can fulfil your requirement. It is featured by:

- **[RESTful-style](https://www.restapitutorial.com/lessons/whatisrest.html)**, powered by an embedded [oauth2 server](https://github.com/jaredhanson/oauth2orize) and [passp

[2019-06-16 14:57] shanhuiyang commented on #419
你好@custjiajia,

因为这个Project不再更新, 我启动了一个新的 MERN 项目，并且使用了 Typescript。
https://github.com/shanhuiyang/TypeScript-MERN-Starter
I think the new MERN project can fulfil your requirement. It is featured by:

- **[RESTful-style](https://www.restapitutorial.com/lessons/whatisrest.html)**, powered by an embedded [oauth2 server](https://github.com/jaredhanson/oauth2orize) and [passport.js](http://www.passpor

[2019-09-22 15:03] shanhuiyang opened #424 "RESTful MERN in Typescript - A new project other than this one"
When I was finding Typescript web app example half year ago, I got an idea why not build a template like MERN in Typescript.

Then I tried my best to build such one and wonder if anyone would like it?

[https://github.com/shanhuiyang/TypeScript-MERN-Starter](https://github.com/shanhuiyang/TypeScript-MERN-Starter)

It is not only using TypeScript, but also featured by:

- **Real fullstack**, becaus

[2019-12-26 11:51] nayaku opened #426 "MSBuild.exe` failed with exit code: 1"
I use vs 2019. May it cause this problem.

My node version is v12.14.0  x86
cmd output

[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.11: The platform "win32" is incompatible with this module.
info "fsevents@1.2.11" is an optional dependency and failed compatibility check. Excluding it from installation.
info fsevents@2.1.2: The platform "win32" is incompatible with this

[2022-03-06 14:12] Chandra-Sekhar-Bala opened #441 "Grammatical error on Twitter redirecting text 📝"
On this [page ]( https://hashnode.com/onboard/writer/blog/setup-completed) when I clicked
<img width="299" alt="on_twitter" src="https://user-images.githubusercontent.com/57448981/156926787-d7c538b5-8320-485b-ac06-d406fc8c5457.png">

Twitter redirection happening with a text and there's a Grammatical error highlighted with red:
<img width="367" alt="twitter_error" src="https://user-images.githubus

[2022-07-18 09:12] #441 closed, assigned to nobody

[2022-09-19 10:51] Aditya750793 commented on #395
I'm using react router 6.4.0 doesnt work for me